brotlipy==0.7.0
certifi 
cffi 
charset-normalizer 
cryptography 
Django==2.0.7
idna 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
numpy==1.22.4 
pluggy 
pycosat 
pycparser
pyOpenSSL 
PySocks
pytz==2022.7
requests
ruamel.yaml
ruamel.yaml.clib 
six 
toolz 
tqdm 
urllib3 
